@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:400,700');

/*colours*/

body{
    background-color: #ec0019;
}

.bg-blue{
    background-color: #4286f4;
    color: #fff;
}

.bg-black{
    background-color: #000;
    color: #fff;
}

.bg-pale{
    background-color: #cfe0fc;
}

.bg-red {
    background-color: #ec0019;
}

.bg-white{
    background-color: #fff;
}

.hr-blue{
    width: 80px;
    height: 8px;
    background-color: #4286f4;
    border: solid 2px white;
    margin: 30px auto;
}

p{
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

.container-fluid{
    width:100%; 
  overflow:hidden; 
}

.join-us {
    position: absolute;
    right: 20px;
    top: 10px;
    border: 2px solid white;
}

.sign-up{
    border: 2px solid white;
    margin: 30px auto;
}

.link-pale{
    color: #cfe0fc;
    font-weight: bold;
}

.link-pale:hover{
    text-decoration: none;
    color: #4286f4;
}
.nav {
    position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.n-icon {
    z-index: 2;
    
}  

.round-logo{
    height: 200px;
    width: 200px;
    position: relative;
    margin: 40px auto;
    border-radius: 100%;
    -webkit-box-shadow: -9px 13px 28px -2px rgba(66,61,66,0.7);
    -moz-box-shadow: -9px 13px 28px -2px rgba(66,61,66,0.7);
    box-shadow: -9px 13px 28px -2px rgba(66,61,66,0.7);
}


.nav-white{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 0 20px;
}

.main-intro {
    background-color: transparent;
    width:100%;
    height: auto;
    margin: 0 auto;
    color: #fff;
}

.title{
    letter-spacing: 2px;
    font-weight: bold;
}

.round-pic{
    height: 160px;
    width: 160px;
    margin: 40px auto 60px auto;
    border-radius: 100%;
    -webkit-box-shadow: -9px 13px 28px -2px rgba(66,61,66,0.7);
    -moz-box-shadow: -9px 13px 28px -2px rgba(66,61,66,0.7);
    box-shadow: -9px 13px 28px -2px rgba(66,61,66,0.7);
}

.full-width-img{
    height: 300px;
     width:100%;
    background-repeat: no-repeat;
}

.banner{
    width: 100%;
    height: 300px;
}

.stadium{
    background-image: url("images/stadium.jpeg");
    background-position: bottom;
    background-size: cover;
}

.clubhouse{
    background-image: url("images/clubhouse.jpg");
    background-position: center;
    background-size: cover;
}

.logo {
     background-image: url("images/logo.png");
     background-position: center;
     background-size: cover;
}

.uk {
     background-image: url("images/uk-flag.png");
     background-position: center;
     background-size: cover;
     
     
}

.fest {
    background-image: url("images/fest.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
}

.game {
    background-image: url("images/game.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 250%;
}

.pitch{
     background-image: url("images/pitch.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.facebook{
   margin: 10px auto 40px auto;
}

 #mc_embed_signup {
    background: #fff;
    clear: left;
    font: 12px 'Open Sans', sans-serif;
    width: 95%;
    margin: 8px;
              }

.signup-container{
    margin-bottom: 40px;
}


/*Media Queries*/

@media (min-width: 768px){
    .banner{
        height: 460px;
    }
    
    .signup-form{
        width: 70%;
    }
}


@media (min-width: 992px){
    .banner{
        height: 600px;
    }
    
    .facebook{
    margin-top: 100px;
    margin-right: 40px;
}

.signup-container{
    margin-top: 100px;
}
    
}